# Build directories
/build
/build-msvc
/bin/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake

# Compiled object files and libraries
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# IDEs
.vscode/
.idea/
*.sln
*.vcxproj*
*.iml
*.user
*.userosscache
*.suo
*.DS_Store

# Temporary files
*~
*.swp
*.tmp
*.log

# Compiled shaders
*.spv

# Misc
*.pyc